:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--font-color);
  background-color: var(--primary-color);
  background-image: var(--background-image, none);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #242424;
  --secondary-color: gray;
  --tertiary-color: orange;
  --font-color: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Adiciona uma transição suave para a troca de background */
  transition: background-image 0.3s ease-in-out;
}
